<!-- Footer Component -->
<footer>
    <div class="container">
        <div class="footer-grid">
            <div class="footer-col">
                <h3 data-i18n="footer.company.name">LottoBridge</h3>
                <p data-i18n="footer.company.description">全球彩票出海一站式解决方案平台，依托中国强大的彩票产业链资源，帮助各国客户快速进入彩票市场。</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            
            <div class="footer-col">
                <h3 data-i18n="footer.products.title">产品服务</h3>
                <ul>
                    <li><a href="#" data-i18n="footer.products.lottery_system">彩票系统服务</a></li>
                    <li><a href="#" data-i18n="footer.products.terminal_equipment">终端设备服务</a></li>
                    <li><a href="#" data-i18n="footer.products.game_design">游戏设计与开发</a></li>
                    <li><a href="#" data-i18n="footer.products.printing_service">票券印刷服务</a></li>
                    <li><a href="#" data-i18n="footer.products.market_research">市场调研服务</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h3 data-i18n="footer.resources.title">资源中心</h3>
                <ul>
                    <li><a href="#" data-i18n="footer.resources.case_studies">案例研究</a></li>
                    <li><a href="#" data-i18n="footer.resources.whitepapers">白皮书下载</a></li>
                    <li><a href="#" data-i18n="footer.resources.industry_reports">行业报告</a></li>
                    <li><a href="#" data-i18n="footer.resources.blog_news">博客与新闻</a></li>
                    <li><a href="#" data-i18n="footer.resources.faq">常见问题</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h3 data-i18n="footer.contact.title">联系我们</h3>
                <ul>
                    <li><i class="fas fa-envelope"></i> wupengfei@outlook.com</li>
                    <li><i class="fas fa-phone"></i> +8617610653863</li>
                    <li data-i18n="footer.contact.address"><i class="fas fa-map-marker-alt"></i> 北京市通州区弘祥产业园B座</li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>
                <span data-i18n="footer.copyright.company">&copy; 2023 LottoBridge</span>.
                <span data-i18n="footer.copyright.rights">保留所有权利。</span>
                | <a href="#" data-i18n="footer.copyright.privacy">隐私政策</a>
                | <a href="#" data-i18n="footer.copyright.terms">使用条款</a>
            </p>
        </div>
    </div>
</footer> 